{% extends 'base.html' %} {% block title %} Bağlantı sıfırlama gönderildi {% endblock title %}
{% block content %}
<h1 class="display-4 my-4">Bağlantı sıfırlama gönderildi</h1>
<hr />
<p>
  Bir hesap varsa, şifrenizi belirleme talimatlarını size e-postayla gönderdik
  Girdiğiniz e-posta ile. Onları kısa sürede almalısın.
</p>
<p>
  Bir e-posta almazsanız, lütfen girdiğiniz adresi girdiğinizden emin olun.
  ile kayıt olun ve spam klasörünüzü kontrol edin.
</p>
<a href="{% url 'login' %}" class="btn btn-primary">Giriş</a>
{% endblock content %}
